*{
    margin:0;
    padding:0;
   
}
body{
    
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-attachment: fixed;
   
    
}
.container{
    height:100vh;
    display:flex;
    border:2px grey solid;
    align-items: center;
    justify-content: center;
    
}
.form{
        width:50%;
        height:30%;
        border:1px solid bisque;
        min-height:max-content;
        min-width: max-content;
        border-radius: 0.62em;
        background-color: aliceblue;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

        
}
#form1{
    margin: 2vh 2vh;
    flex-direction: row;

}
#fname{
    font-size: 2rem;
}
#input{
    height: 50px;
    width:500px;
    font-size: 2rem;
    color: darkslategrey;
}
::placeholder{
    font-size: 2rem;

}
button{
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    width:20%;
    height:20%;
    margin-top:2rem;   
}
#box{
    background-color:pink;
    width:20%;
    height:20%;
    margin:0.5rem;
}